$font-color: #222;
$font-color-link: #004770;
$background-color-primary: #FFF;
$background-color-secondary: #CCC;
$background-color-accent: #033f63;
$border-color-primary: #CCC;

$spacing-inner: 1.5rem;
$spacing-outer: 3rem;

$font-family-primary: 'Raleway', sans-serif;
$title-family-primary: 'Bungee', cursive;