@import 'sass-flex-mixin/flex';

@import url('https://fonts.googleapis.com/css?family=Bungee|Raleway');

@import 'variables';
@import 'forms';
@import 'page';
@import 'swatches';


* {
  box-sizing: border-box;
  font-family: $font-family-primary;
}

h1, h2, h3 {
	font-family: $title-family-primary;
	font-weight: 300;
	margin: $spacing-inner 0;
	line-height: 1em;
}

h1 {
	font-size: 4rem;
}

p {
	margin: $spacing-inner 0;
}

a {
	color: $font-color-link;
}